<div class="card">
    <h2 class="card-title text-center text-secondary mt-0 mb-20">
        TRANSFORM
    </h2>
    <p class="text-muted text-center mt-0 mb-20">
        Primes can transform themselves by changing their name.
    </p>
    <div class="info row justify-content-center mt-0 mb-20">
        <div class="col-auto">
            <lib-tags-chip key="Name">
                {{prime.name}}
            </lib-tags-chip>
        </div>
    </div>
    <p class="text-muted text-center mt-0 mb-0">
        Owner of Prime asset can change the name.
    </p>
    <p *ngIf="isListedOwner" class="text-muted text-center mt-0 mb-0">
        Unlist this Prime from market to change the name.
    </p>
    <div *ngIf="isPrimeOwner">
        <div class="mt-20 mb-20">
            <lib-tags-prime-skins [prime]="previewPrime"></lib-tags-prime-skins>
        </div>
        <div class="info mt-20 mb-0">
            <div class="name">
                <div class="row">
                    <div *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7]" class="col">
                        <div class="action">
                            <div class="hand text-center text-primary" (click)="upLetterIndex(number)">
                                <span *ngIf="number == selectedNameIndex">
                                    <i class="fas fa-chevron-up"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7]" class="col">
                        <div class="letter">
                            <div class="hand text-center" (click)="selectNameIndex(number)"
                                [ngClass]="{'bg-dark-light': number != selectedNameIndex, 'bg-primary': number == selectedNameIndex}">
                                {{updatedName[number]}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7]" class="col">
                        <div class="action">
                            <div class="hand text-center text-primary" (click)="downLetterIndex(number)">
                                <span *ngIf="number == selectedNameIndex">
                                    <i class="fas fa-chevron-down"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="prime.gen > 1" class="name">
                <div class="row">
                    <div *ngFor="let number of [8, 9, 10, 11, 12, 13, 14, 15]" class="col">
                        <div class="action">
                            <div class="hand text-center text-primary" (click)="upLetterIndex(number)">
                                <span *ngIf="number == selectedNameIndex">
                                    <i class="fas fa-chevron-up"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div *ngFor="let number of [8, 9, 10, 11, 12, 13, 14, 15]" class="col">
                        <div class="letter">
                            <div class="hand text-center" (click)="selectNameIndex(number)"
                                [ngClass]="{'bg-dark-light': number != selectedNameIndex, 'bg-primary': number == selectedNameIndex}">
                                {{updatedName[number]}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div *ngFor="let number of [8, 9, 10, 11, 12, 13, 14, 15]" class="col">
                        <div class="action">
                            <div class="hand text-center text-primary" (click)="downLetterIndex(number)">
                                <span *ngIf="number == selectedNameIndex">
                                    <i class="fas fa-chevron-down"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="renameDifference > 0" class="text-center mt-20 mb-20">
                <button *ngIf="!actions.renamePrime" class="btn btn-primary" (click)="renamePrime()">
                    Update Letter
                </button>
                <button *ngIf="actions.renamePrime" class="btn btn-primary">
                    <i class="fas fa-cog fa-spin mx-20"></i>
                </button>
            </div>
            <p *ngIf="renameDifference > 0" class="text-muted text-center m-0">
                Updating letter costs
                <span innerHTML="{{renamePrice * renameDifference | amount:prime.platform_asset_id | async}}"></span>.
                In return it increases the score of Prime by {{renameScore * renameDifference}} points.
                <span *ngIf="parentScore > 0">
                    GEN1 parent of this Prime will also receive a {{parentScore * renameDifference}} points score boost.
                </span>
            </p>
        </div>
    </div>
</div>