<div class="card">
    <h2 class="card-title text-center text-secondary mt-0 mb-20">
        MARKET
    </h2>
    <div *ngIf="item.is_listed">
        <div *ngIf="isSeller">
            <p class="text-muted text-center mt-0 mb-20">
                You have listed this item for sale at the moment. Unlist it if you want to pull it off the market.
            </p>
            <div class="info row justify-content-center mt-0 mb-20">
                <div class="col-auto">
                    <lib-tags-chip key="Price">
                        <span innerHTML="{{item.price | amount:0 | async}}"></span>
                    </lib-tags-chip>
                </div>
                <div class="col-auto">
                    <lib-tags-chip key="Seller">
                        <span innerHTML="{{item.seller | identity:true:true | async}}"></span>
                    </lib-tags-chip>
                </div>
            </div>
            <div class="text-center mt-0 mb-0">
                <button *ngIf="!actions.unlistItem" class="btn btn-primary" (click)="unlistItem()">
                    Unlist Item
                </button>
                <button *ngIf="actions.unlistItem" class="btn btn-primary">
                    <i class="fas fa-cog fa-spin mx-20"></i>
                </button>
            </div>
        </div>
        <div *ngIf="!isSeller">
            <div *ngIf="isConnected">
                <p class="text-muted text-center mt-0 mb-20">
                    This item is currently listed for sale. Buy it by paying the asking price.
                </p>
                <div class="info row justify-content-center mt-0 mb-20">
                    <div class="col-auto">
                        <lib-tags-chip key="Price">
                            <span innerHTML="{{item.price | amount:0 | async}}"></span>
                        </lib-tags-chip>
                    </div>
                    <div class="col-auto">
                        <lib-tags-chip key="Seller">
                            <span innerHTML="{{item.seller | identity:true:true | async}}"></span>
                        </lib-tags-chip>
                    </div>
                </div>
                <div class="text-center mt-0 mb-0">
                    <button *ngIf="!actions.buyItem" class="btn btn-primary" (click)="buyItem()">
                        Buy Item
                    </button>
                    <button *ngIf="actions.buyItem" class="btn btn-primary">
                        <i class="fas fa-cog fa-spin mx-20"></i>
                    </button>
                </div>
            </div>
            <div *ngIf="!isConnected">
                <p class="text-muted text-center mt-0 mb-20">
                    This item is currently listed for sale. Connect your wallet to buy it.
                </p>
                <div class="info row justify-content-center mt-0 mb-0">
                    <div class="col-auto">
                        <lib-tags-chip key="Price">
                            <span innerHTML="{{item.price | amount:0 | async}}"></span>
                        </lib-tags-chip>
                    </div>
                    <div class="col-auto">
                        <lib-tags-chip key="Seller">
                            <span innerHTML="{{item.seller | identity:true:true | async}}"></span>
                        </lib-tags-chip>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!item.is_listed">
        <div *ngIf="isItemOwner">
            <p class="text-muted text-center mt-0 mb-20">
                This item is not listed for sale at the moment. Since you are the owner of this item, you can list it
                for sale any time you want.
            </p>
            <div class="info row justify-content-center mt-0 mb-20">
                <div class="col-auto">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text px-10 text-secondary">Price</span>
                        </div>
                        <input [(ngModel)]="inputs.price" class="form-control w-100" type="number" placeholder="Price">
                        <div class="input-group-append">
                            <span class="input-group-text px-10 text-secondary">ALGO</span>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-muted text-center mt-0 mb-20">
                Listing a item for sale is free, but please note that the artist will
                charge a 10% fee when a sale is made, which means you will only get 90% of the selling price.
            </p>
            <div class="info row justify-content-center mt-0 mb-20">
                <div class="col-auto">
                    <lib-tags-chip key="Expected Return">
                        <span innerHTML="{{inputs.price * 0.9 * 1000000 | amount:0 | async}}"></span>
                    </lib-tags-chip>
                </div>
            </div>
            <div class="text-center mt-0 mb-0">
                <button *ngIf="!actions.listItem" class="btn btn-primary" (click)="listItem()">
                    List Item
                </button>
                <button *ngIf="actions.listItem" class="btn btn-primary">
                    <i class="fas fa-cog fa-spin mx-20"></i>
                </button>
            </div>
        </div>
        <div *ngIf="!isItemOwner">
            <p class="text-muted text-center mt-0 mb-0">
                This item is not listed for sale at the moment.
            </p>
        </div>
    </div>
</div>