<div class="container-fluid">
    <div class="content">
        <div class="row align-items-center">
            <div class="col-sm">
                <h1 class="content-title">
                    Browse Two
                </h1>
            </div>
            <div class="col-auto">
                <button class="btn mr-5" type="button" (click)="navigateToPage('browse')">
                    <i class="fas fa-arrow-left text-danger mr-5"></i>
                    Back
                </button>
                <button class="btn" type="button" (click)="loadPrimeDetails()">
                    <i class="fas fa-cog text-danger mr-5" [ngClass]="{'fa-spin': loading}"></i>
                    Refresh
                </button>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="cards">
            <div class="card m-0 h-full" *ngFor="let prime of data.genTwoPrimes"
                (click)="navigateToPage('prime/gen2/{{prime.id}}')">
                <h2 class="content-title text-success">{{prime.id}}</h2>
                <p class="text-muted mb-0">
                    {{prime.name}}
                </p>
            </div>
        </div>
    </div>
</div>