<div class="container-fluid">
    <div class="content" *ngIf="ready">
        <div class="d-flex flex-wrap justify-content-center">
            <div class="card prime">
                <lib-tags-prime-skins [prime]="prime"></lib-tags-prime-skins>
                <lib-tags-prime-boxes [prime]="prime"></lib-tags-prime-boxes>
                <lib-tags-prime-owner [prime]="prime"></lib-tags-prime-owner>
            </div>
            <div class="card prime">
                <lib-tags-prime-info [prime]="prime"></lib-tags-prime-info>
            </div>
            <div class="card prime">
                <lib-tags-prime-info [prime]="prime"></lib-tags-prime-info>
            </div>
        </div>
    </div>
</div>