<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col">
                <div class="mx-auto text-center">
                    <h1 class="content-title text-secondary mt-0 mb-20">
                        View Rankings
                    </h1>
                    <p class="text-muted mx-auto mw-600 mt-0 mb-20">
                        Players are ranked based on their stars balance. Perform well in games to climb the
                        leaderboard.
                    </p>
                </div>
            </div>
        </div>
        <lib-tags-player [player]="player"></lib-tags-player>
        <div *ngIf="ready" class="row justify-content-center">
            <div class="column col-12 col-md-12 col-lg-8 col-xl-6">
                <div class="card">
                    <div *ngIf="currentPageResults.length > 0">
                        <div class="info mb-0 px-10">
                            <div class="table-responsive">
                                <table class="table table-no-outer-padding">
                                    <thead>
                                        <tr class="text-success">
                                            <th>Rank</th>
                                            <th>Player</th>
                                            <th>Stars</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let result of currentPageResults">
                                            <td>
                                                <p class="mt-0 mb-0 text-wrap">
                                                    {{result.ranking}}
                                                </p>
                                            </td>
                                            <td>
                                                <p class="mt-0 mb-0 text-wrap"
                                                    [innerHtml]="result.address | identity:true:true | async">
                                                </p>
                                            </td>
                                            <td>
                                                <p class="mt-0 mb-0 text-wrap">
                                                    {{result.stars}}
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="mt-20">
                            <lib-tags-pager [totalPages]="pagesCount" [currentPage]="currentPage"
                                (pageChanged)="changePage($event)">
                            </lib-tags-pager>
                        </div>
                    </div>
                    <div *ngIf="currentPageResults.length == 0" class="mw-600 mx-auto text-center">
                        <div class="text-muted mt-60 mb-60">
                            No results found
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-20 mb-20">
            <button class="btn" (click)="backToGames()">
                Back to Games
            </button>
        </div>
    </div>
</div>