<div class="container-fluid">
    <div class="content">
        <div class="row align-items-center">
            <div class="col-sm">
                <h1 class="content-title my-10">
                    OCTOPLAY
                </h1>
            </div>
        </div>
    </div>
    <div class="row row-eq-spacing-xl">
        <div class="col-xl-4" (click)="navigateToPage('play/games')">
            <div class="card h-full">
                <div class="row hand">
                    <div class="col-sm">
                        <h1>
                            <i class="fas fa-dice text-secondary"></i>
                        </h1>
                        <h2 class="content-title text-success">Games</h2>
                        <p class="text-muted mb-0">
                            Octoplay is a powerful toolkit in Algorand blockchain which enables anyone to create and
                            play various on-chain games.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>