<div class="card">
    <h2 class="card-title text-center text-secondary mt-0 mb-20">
        SUMMARY
    </h2>
    <div class="info row justify-content-center mt-0 mb-20">
        <div class="col-auto">
            <lib-tags-chip key="Index">
                {{item.id_text}}
            </lib-tags-chip>
        </div>
        <div class="col-auto">
            <lib-tags-chip key="Name">
                {{item.name}}
            </lib-tags-chip>
        </div>
        <div class="col-auto">
            <lib-tags-chip key="Score">
                {{item.score}}
            </lib-tags-chip>
        </div>
        <div class="col-auto">
            <lib-tags-chip key="Rank">
                {{item.rank}}
            </lib-tags-chip>
        </div>
        <div class="col-auto">
            <lib-tags-chip key="Owner">
                <span innerHTML="{{item.owner | identity:true:true | async}}"></span>
            </lib-tags-chip>
        </div>
        <div class="col-auto">
            <lib-tags-chip key="Price">
                <span innerHTML="{{item.price | amount:0 | async}}"></span>
            </lib-tags-chip>
        </div>
        <div class="col-auto">
            <lib-tags-chip key="Asset">
                <span innerHTML="{{item.item_asset_id | asset:true | async}}"></span>
            </lib-tags-chip>
        </div>
        <div class="col-auto">
            <lib-tags-chip key="Application">
                <span innerHTML="{{item.application_id | application:true}}"></span>
            </lib-tags-chip>
        </div>
    </div>
    <div *ngIf="isOptinable" class="text-center mt-20 mb-0">
        <button *ngIf="!actions.optinItem" class="btn btn-primary" (click)="optinItem()">
            Optin to Asset
        </button>
        <button *ngIf="actions.optinItem" class="btn btn-primary">
            <i class="fas fa-cog fa-spin mx-20"></i>
        </button>
    </div>
    <div *ngIf="isClaimable" class="text-center mt-20 mb-0">
        <button *ngIf="!actions.claimItem" class="btn btn-primary" (click)="claimItem()">
            Claim Ownership
        </button>
        <button *ngIf="actions.claimItem" class="btn btn-primary">
            <i class="fas fa-cog fa-spin mx-20"></i>
        </button>
    </div>
</div>