<div class="container-fluid">
    <div class="content">
        <div class="row align-items-center">
            <div class="col">
                <div class="mx-auto text-center">
                    <h1 class="content-title text-secondary mb-20">
                        Your Primes
                    </h1>
                    <p class="text-muted mb-5">
                        Generation
                    </p>
                    <nav>
                        <ul class="pagination text-center">
                            <li class="page-item hand">
                                <a class="page-link px-20" tabindex="-1" (click)="changeGen(1)"
                                    [ngClass]="{'bg-primary': selectedGen == 1}">
                                    GEN1
                                </a>
                            </li>
                            <li class="page-item hand">
                                <a class="page-link px-20" tabindex="-1" (click)="changeGen(2)"
                                    [ngClass]="{'bg-primary': selectedGen == 2}">
                                    GEN2
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="text-muted mb-5">
                        Sort
                    </p>
                    <nav>
                        <ul class="pagination text-center">
                            <li class="page-item hand" *ngFor="let sort of sorts">
                                <a class="page-link px-20" tabindex="-1" (click)="changeSort(sort)"
                                    [ngClass]="{'bg-primary': sort == selectedSort}">
                                    {{sort}}
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="text-muted mb-5">
                        Badges
                    </p>
                    <nav>
                        <ul class="pagination text-center">
                            <li class="page-item hand" *ngFor="let badge of badges">
                                <a class="page-link px-20" tabindex="-1" (click)="changeBadge(badge.name)"
                                    [ngClass]="{'bg-primary': selectedBadges.includes(badge.name)}">
                                    <i class="{{badge.icon}} mr-5"></i>
                                    {{badge.name}}
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row align-items-center" *ngIf="ready">
            <div class="col">
                <div *ngIf="currentPageResults.length > 0">
                    <div class="my-20">
                        <lib-tags-pager [totalPages]="pagesCount" [currentPage]="currentPage"
                            (onPageChange)="changePage($event)">
                        </lib-tags-pager>
                    </div>
                    <div class="d-flex flex-wrap justify-content-center">
                        <div class="card prime" *ngFor="let prime of currentPageResults">
                            <lib-tags-prime-skins [prime]="prime"></lib-tags-prime-skins>
                            <lib-tags-prime-boxes [prime]="prime"></lib-tags-prime-boxes>
                            <lib-tags-prime-owner [prime]="prime"></lib-tags-prime-owner>
                            <lib-tags-prime-info [prime]="prime"></lib-tags-prime-info>
                            <lib-tags-prime-badges [prime]="prime"></lib-tags-prime-badges>
                            <div class="btn-group mt-20 btn-block" role="group">
                                <button class="btn btn-danger btn-block" type="button"
                                    (click)="navigateToPage(prime.url)">
                                    Manage
                                </button>
                                <button class="btn btn-danger btn-square" type="button">
                                    <a class="text-white" href="{{prime.url}}" target="_blank">
                                        <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="mt-20">
                        <lib-tags-pager [totalPages]="pagesCount" [currentPage]="currentPage"
                            (onPageChange)="changePage($event)">
                        </lib-tags-pager>
                    </div>
                </div>
                <div *ngIf="currentPageResults.length == 0">
                    <div *ngIf="app.account" class="alert alert-secondary message" role="alert">
                        There aren't any primes owned by you that matches the selection criteria
                    </div>
                    <div *ngIf="!app.account" class="alert alert-secondary message" role="alert">
                        Connect your wallet to see your primes here
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>