<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col">
                <div class="mx-auto text-center">
                    <h1 class="content-title text-secondary mt-0 mb-20">
                        Games
                    </h1>
                    <p class="text-muted mx-auto mw-600 mt-0 mb-20">
                        Show off your skills and have fun with Octorand games. Collect stars as you progress through
                        exciting challenges and rise to the top of the leaderboard.
                    </p>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="ready">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="column col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let game of games">
                        <div class="card">
                            <h1 class="text-center text-danger">
                                <i class="{{game.icon}}"></i>
                            </h1>
                            <h2 class="card-title text-center text-secondary">
                                {{game.name.toUpperCase()}}
                            </h2>
                            <p class="description text-center text-muted">
                                {{game.description}}
                            </p>
                            <div class="text-center mt-5 mb-0">
                                <button class="btn btn-primary" (click)="playGame(game.id)" type="button">
                                    Play Game
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>