<div class="container-fluid">
    <div class="content">
        <div class="row align-items-center">
            <div class="col">
                <div class="mx-auto text-center">
                    <h1 class="content-title text-secondary mb-20">
                        Browse Primes
                    </h1>
                    <p class="text-muted mb-5">
                        Generation
                    </p>
                    <nav>
                        <ul class="pagination text-center">
                            <li class="page-item active">
                                <a class="page-link px-20" tabindex="-1">
                                    GEN1
                                </a>
                            </li>
                            <li class="page-item hand">
                                <a (click)="navigateToPage('browse/gen2')" class="page-link px-20">
                                    GEN2
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="text-muted mb-5">
                        Badges
                    </p>
                    <nav>
                        <ul class="pagination text-center">
                            <li class="page-item hand" *ngFor="let badge of badges">
                                <a class="page-link px-20" tabindex="-1" (click)="changeBadge(badge)"
                                    [ngClass]="{'bg-primary': selectedBadges.includes(badge)}">
                                    {{badge}}
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="text-muted mb-5">
                        Sort
                    </p>
                    <nav>
                        <ul class="pagination text-center">
                            <li class="page-item hand" *ngFor="let sort of sorts">
                                <a class="page-link px-20" tabindex="-1" (click)="changeSort(sort)"
                                    [ngClass]="{'bg-primary': sort == selectedSort}">
                                    {{sort}}
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <div class="mx-auto text-center">
                    <div class="my-20">
                        <lib-tags-pager [totalPages]="pagesCount" [currentPage]="currentPage"
                            (onPageChange)="changePage($event)">
                        </lib-tags-pager>
                    </div>
                    <div class="cards">
                        <div class="card m-0 h-full" *ngFor="let prime of currentPageResults">
                            <h2 class="content-title text-success">{{prime.name}}</h2>
                            <p innerHTML="{{prime.owner | identity | async}}"></p>
                            <div class="table-responsive">
                                <table class="table table-no-outer-padding">
                                    <tbody>
                                        <tr>
                                            <td class="text-secondary">Id</td>
                                            <td class="text-right">{{prime.id_text}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-secondary">Score</td>
                                            <td class="text-right">{{prime.score}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-secondary">Rank</td>
                                            <td class="text-right">{{prime.rank}}</td>
                                        </tr>
                                        <tr *ngIf="prime.price > 0">
                                            <td class="text-secondary">Price</td>
                                            <td class="text-right" innerHTML="{{prime.price | amount:0 | async}}">
                                            </td>
                                        </tr>
                                        <tr *ngIf="prime.price == 0">
                                            <td class="text-secondary">Price</td>
                                            <td class="text-right">Not for sale</td>
                                        </tr>
                                        <tr>
                                            <td class="text-secondary">Reward</td>
                                            <td class="text-right"
                                                innerHTML="{{prime.rewards | amount:prime.platform_asset_id | async}}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button class="btn btn-success btn-block mt-20"
                                (click)="navigateToPage('prime/gen1/{{prime.id}}')">
                                View
                            </button>
                        </div>
                    </div>
                    <div class="mt-20">
                        <lib-tags-pager [totalPages]="pagesCount" [currentPage]="currentPage"
                            (onPageChange)="changePage($event)">
                        </lib-tags-pager>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>