<div class="card">
    <h2 class="card-title text-center text-secondary">
        TRAITS
    </h2>
    <p class="text-muted text-center m-0">
        Primes obtain badges when they meet certain qualifications.
    </p>
    <div class="info row justify-content-center mt-20">
        <div class="col-auto" *ngFor="let badge of badges">
            <lib-tags-chip [active]="badge.active">
                <div class="dropdown dropup with-arrow">
                    <div data-toggle="dropdown" id="popover-toggle" aria-haspopup="true" aria-expanded="false"
                        class="hand">
                        <i class="{{badge.icon}} mr-5"></i>
                        {{badge.name}}
                    </div>
                    <div class="dropdown-menu dropdown-menu-center" aria-labelledby="popover-toggle">
                        <div class="dropdown-item">
                            <i class="mr-10 {{badge.icon}}"></i>
                            {{badge.name}} - {{badge.count}}x ({{badge.percentage}}%)
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-item">
                            <p class="description">{{badge.description}}</p>
                        </div>
                    </div>
                </div>
            </lib-tags-chip>
        </div>
    </div>
</div>