<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col">
                <div class="mx-auto text-center">
                    <h1 class="content-title text-secondary mt-0 mb-20">
                        Purchase Hearts
                    </h1>
                    <p class="text-muted mx-auto mw-600 mt-0 mb-20">
                        Each game round requires one Heart. You can get extra Hearts by spending OCTO tokens.
                    </p>
                </div>
            </div>
        </div>
        <lib-tags-player [player]="player"></lib-tags-player>
        <div class="row justify-content-center">
            <div class="column col-12 col-md-8 col-lg-6 col-xl-4">
                <div class="card">
                    <h2 class="card-title text-center text-secondary mt-0 mb-20">
                        EXCHANGE
                    </h2>
                    <p class="text-muted text-center mt-0 mb-20">
                        OCTO tokens used to purchase Hearts are instantly burned, gradually reducing the total OCTO
                        supply.
                    </p>
                    <div class="text-center mt-20 mb-0">
                        <div class="info row justify-content-center mt-0 mb-20">
                            <div class="col-auto">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text px-10 text-secondary">Hearts to Buy</span>
                                    </div>
                                    <input [(ngModel)]="inputs.hearts" class="form-control w-100" type="number"
                                        placeholder="Hearts" min="1" max="1000" step="1">
                                </div>
                            </div>
                        </div>
                        <button *ngIf="!actions.purchaseHearts" class="btn btn-primary" (click)="purchaseHearts()">
                            Purchase
                        </button>
                        <button *ngIf="actions.purchaseHearts" class="btn btn-primary">
                            <i class="fas fa-cog fa-spin mx-20"></i>
                        </button>
                        <p *ngIf="inputs.hearts" class="text-muted text-center mt-20 mb-0">
                            This purchase costs
                            <span innerHTML="{{inputs.hearts * 1000000 | amount:assetId | async}}">
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-20 mb-20">
            <button class="btn" (click)="backToGames()">
                Back to Games
            </button>
        </div>
    </div>
</div>