<div class="card">
    <h2 class="card-title text-center text-secondary">
        VAULT
    </h2>
    <p class="text-muted mb-20">
        Primes can act as a storage of value. Anyone can send any asset to be stored inside a Prime. Received assets can
        be withdrawn by the prime owner anytime.
    </p>
    <p class="text-secondary">
        Deposit Asset
    </p>
    <div *ngIf="depositableAssets.length > 0" class="row">
        <div class="col-12 col-lg-6">
            <div class="dropdown with-arrow select hand select-asset-dropdown">
                <input value="{{selectedAssetName}}" class="form-control" type="text" data-toggle="dropdown"
                    id="popover-toggle" aria-haspopup="true" aria-expanded="false" readonly>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="popover-toggle">
                    <div *ngFor="let asset of depositableAssets" class="dropdown-item" (click)="selectAsset(asset)">
                        <span innerHTML="{{asset.id | asset:false | async}}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <input [(ngModel)]="inputs.amount" class="form-control" type="number" placeholder="Deposit Amount">
        </div>
        <div class="col-12">
            <div class="my-10">
                <button *ngIf="!actions.depositPrime" class="btn btn-danger" (click)="depositPrime()">
                    Deposit
                </button>
                <button *ngIf="actions.depositPrime" class="btn btn-danger">
                    <i class="fas fa-cog fa-spin mx-20"></i>
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="depositableAssets.length == 0" class="row">
        <p *ngIf="!isConnected" class="text-muted">
            Connect your wallet to deposit assets.
        </p>
        <p *ngIf="isConnected" class="text-muted">
            We could not find any assets in your wallet that can be deposited.
        </p>
    </div>
    <hr class="my-20">
    <p class="text-secondary">
        Stored Assets
    </p>
    <div *ngIf="vaultedAssets.length > 0">
        <div *ngFor="let asset of vaultedAssets" class="row">
            <div class="col">
                <span class="mb-5" innerHTML="{{asset.amount | amount:asset.id | async}}"></span>
            </div>
            <div *ngIf="isPrimeOwner" class="col-auto">
                <button *ngIf="!actions.withdrawPrime" class="btn btn-danger" (click)="withdrawPrime(asset.id)">
                    Withdraw
                </button>
                <button *ngIf="actions.withdrawPrime" class="btn btn-danger">
                    <i class="fas fa-cog fa-spin mx-20"></i>
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="vaultedAssets.length == 0" class="row">
        <p class="text-muted">
            No assets found in the vault.
        </p>
    </div>
</div>