<div class="card">
    <h2 class="card-title text-center text-secondary">
        VAULT
    </h2>
    <p class="text-success text-center m-0">
        Deposit
    </p>
    <p class="text-muted text-center m-0">
        Primes can act as a storage of value. Anyone can send any third party asset to be stored inside a Prime.
    </p>
    <div class="info mt-20">
        <nav *ngIf="depositableAssets.length > 0">
            <ul class="pagination text-center">
                <li class="page-item">
                    <div class="page-link">
                        <div class="dropdown with-arrow select hand select-asset-dropdown">
                            <input value="{{selectedAssetName}}" class="form-control" type="text" data-toggle="dropdown"
                                id="popover-toggle" aria-haspopup="true" aria-expanded="false" readonly>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="popover-toggle">
                                <div *ngFor="let asset of depositableAssets" class="dropdown-item py-0"
                                    (click)="selectAsset(asset)">
                                    <span innerHTML="{{asset.id | asset:false | async}}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="page-item">
                    <div class="page-link">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-secondary px-15">Amount</span>
                            </div>
                            <input [(ngModel)]="inputs.amount" class="form-control w-100" type="number"
                                placeholder="Amount">
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <div *ngIf="depositableAssets.length > 0" class="text-center my-20">
            <button *ngIf="!actions.depositPrime" class="btn btn-primary" (click)="depositPrime()">
                Deposit
            </button>
            <button *ngIf="actions.depositPrime" class="btn btn-primary">
                <i class="fas fa-cog fa-spin mx-20"></i>
            </button>
        </div>
        <div *ngIf="depositableAssets.length == 0">
            <p *ngIf="!isConnected" class="text-muted text-center">
                Connect your wallet to deposit assets.
            </p>
            <p *ngIf="isConnected" class="text-muted text-center">
                We could not find any assets in your wallet that can be deposited.
            </p>
        </div>
    </div>
    <p class="text-success text-center m-0">
        Storage
    </p>
    <p class="text-muted text-center m-0">
        Stored assets can be withdrawn by the holder of Prime asset.
    </p>
    <div class="info mt-20">
        <nav *ngIf="vaultedAssets.length > 0">
            <ul class="pagination text-center">
                <li class="page-item" *ngFor="let asset of vaultedAssets">
                    <div class="page-link">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text px-15"
                                    innerHTML="{{asset.amount | amount:asset.id | async}}">Amount</span>
                            </div>
                            <div *ngIf="isPrimeOwner" class="input-group-append">
                                <button *ngIf="actions.withdrawPrime != asset.id" class="btn btn-primary"
                                    (click)="withdrawPrime(asset.id)">
                                    Withdraw
                                </button>
                                <button *ngIf="actions.withdrawPrime == asset.id" class="btn btn-primary">
                                    <i class="fas fa-cog fa-spin mx-20"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <div *ngIf="vaultedAssets.length == 0">
            <p class="text-muted text-center">
                No assets found in the vault.
            </p>
        </div>
    </div>
</div>