<div class="card">
    <h2 class="card-title text-center text-secondary">
        VAULT
    </h2>
    <p class="text-muted mb-20">
        Primes can act as a storage of value. Anyone can send any asset to be stored inside a Prime. Received assets can
        be withdrawn by the prime owner anytime.
    </p>
    <p class="text-secondary">
        Deposit Asset
    </p>
    <div class="row">
        <div class="column col-12 col-lg-6">
            <input [(ngModel)]="inputs.asset" class="form-control" type="number" placeholder="Asset Id">
        </div>
        <div class="column col-12 col-lg-6">
            <input [(ngModel)]="inputs.amount" class="form-control" type="number" placeholder="Asset Amount">
        </div>
        <div class="column col-12">
            <div class="my-10">
                <button *ngIf="!actions.depositPrime" class="btn btn-danger" (click)="depositPrime()">
                    Deposit
                </button>
                <button *ngIf="actions.depositPrime" class="btn btn-danger">
                    <i class="fas fa-cog fa-spin mx-20"></i>
                </button>
            </div>
        </div>
    </div>
    <hr class="my-20">
    <p class="text-secondary">
        Stored Assets
    </p>
</div>