<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col">
                <div class="mx-auto text-center">
                    <h1 class="content-title text-secondary mt-0 mb-20">
                        Redeem Stars
                    </h1>
                    <p class="text-muted mx-auto mw-600 mt-0 mb-20">
                        Trade your Stars for exciting rewards within the Octorand ecosystem and beyond.
                    </p>
                </div>
            </div>
        </div>
        <lib-tags-player [player]="player"></lib-tags-player>
        <div class="row justify-content-center">
            <div class="column col-12 col-md-12 col-lg-8 col-xl-6">
                <div class="card">

                </div>
            </div>
        </div>
        <div class="text-center mt-20 mb-20">
            <button class="btn" (click)="backToGames()">
                Back to Games
            </button>
        </div>
    </div>
</div>