<div class="container-fluid" *ngIf="game">
    <div class="content">
        <div class="row">
            <div class="col">
                <div class="mx-auto text-center">
                    <h1 class="content-title text-secondary mt-0 mb-20">
                        {{game.name}}
                    </h1>
                    <p class="text-muted mx-auto mw-600 mt-0 mb-20">
                        {{game.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>