<div class="container-fluid" *ngIf="game">
    <div class="content">
        <div class="row">
            <div class="col">
                <div class="mx-auto text-center">
                    <h1 class="content-title text-secondary mt-0 mb-20">
                        {{game.name}}
                    </h1>
                    <p class="text-muted mx-auto mw-600 mt-0 mb-20">
                        {{game.description}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="column col-12 col-md-12 col-lg-8 col-xl-6">
                <div *ngIf="status == 'loading'" class="card">
                    <div class="col py-20">
                        <lib-tags-loader></lib-tags-loader>
                    </div>
                </div>
                <div *ngIf="status == 'connecting'" class="card">
                    <h1 class="text-center" [ngStyle]="{'color': game.color}">
                        <i class="{{game.icon}}"></i>
                    </h1>
                    <p class="description text-center text-muted">
                        Connect you wallet to start playing
                    </p>
                </div>
                <div *ngIf="status == 'authenticating'" class="card">
                    <h1 class="text-center" [ngStyle]="{'color': game.color}">
                        <i class="{{game.icon}}"></i>
                    </h1>
                    <p class="description text-center text-muted mb-40">
                        Let's get this party started
                    </p>
                    <div class="text-center mb-20">
                        <button *ngIf="!actions.startGame" class="btn btn-primary" (click)="startGame()">
                            Start Game
                        </button>
                        <button *ngIf="actions.startGame" class="btn btn-primary">
                            <i class="fas fa-cog fa-spin mx-20"></i>
                        </button>
                    </div>
                </div>
                <div *ngIf="status == 'purchasing'">
                    <lib-tags-player [player]="player"></lib-tags-player>
                    <div class="card">
                        <h1 class="text-center" [ngStyle]="{'color': game.color}">
                            <i class="{{game.icon}}"></i>
                        </h1>
                        <p class="description text-center text-muted mb-40">
                            Each game round requires one heart. Let's get some hearts to start playing.
                        </p>
                        <div class="text-center mb-20">
                            <button class="btn btn-primary" (click)="purchaseHearts()">
                                Get Hearts
                            </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="status == 'ready'">
                    <lib-tags-player [player]="player"></lib-tags-player>
                    <div class="card">
                        <app-platform-games-play-alpha-roller *ngIf="game.id == 'alpha-roller'" [player]="player"
                            (accountUpdated)="refreshView()">
                        </app-platform-games-play-alpha-roller>
                        <app-platform-games-play-spell-seeker *ngIf="game.id == 'spell-seeker'" [player]="player"
                            (accountUpdated)="refreshView()">
                        </app-platform-games-play-spell-seeker>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-20 mb-20">
            <button class="btn" (click)="backToGames()">
                Back to Games
            </button>
        </div>
    </div>
</div>