<div class="card">
    <h2 class="card-title text-center text-secondary mt-0 mb-20">
        SUMMARY
    </h2>
    <p class="text-muted text-center mt-0 mb-20">
        Primes are feature packed creatures, each ranked by their score.
    </p>
    <div class="info row justify-content-center mt-0 mb-20">
        <div class="col-auto">
            <lib-tags-chip key="Index">
                {{prime.id_text}}
            </lib-tags-chip>
        </div>
        <div class="col-auto">
            <lib-tags-chip key="Name">
                {{prime.name}}
            </lib-tags-chip>
        </div>
        <div class="col-auto">
            <lib-tags-chip key="Score">
                {{prime.score}}
                <div class="dropdown dropup with-arrow">
                    <div data-toggle="dropdown" id="popover-toggle" aria-haspopup="true" aria-expanded="false"
                        class="hand">
                        <i class="fas fa-star"
                            [ngClass]="{'text-secondary': prime.applied_stars > 0, 'text-muted': prime.applied_stars == 0}">
                        </i>
                    </div>
                    <div class="dropdown-menu dropdown-menu-center" aria-labelledby="popover-toggle">
                        <div class="dropdown-item">
                            <span *ngIf="prime.applied_stars > 0">
                                The score is increased by {{prime.applied_stars}} points through the use of game stars
                            </span>
                            <span *ngIf="prime.applied_stars == 0">
                                This Prime's score is not boosted by any game stars
                            </span>
                        </div>
                    </div>
                </div>
            </lib-tags-chip>
        </div>
        <div class="col-auto">
            <lib-tags-chip key="Rank">
                {{prime.rank}}
            </lib-tags-chip>
        </div>
        <div class="col-auto">
            <lib-tags-chip key="Owner">
                <span innerHTML="{{prime.owner | identity:true:true | async}}"></span>
            </lib-tags-chip>
        </div>
        <div class="col-auto">
            <lib-tags-chip key="Price">
                <span innerHTML="{{prime.price | amount:0 | async}}"></span>
            </lib-tags-chip>
        </div>
        <div class="col-auto">
            <lib-tags-chip key="Sales">
                {{prime.sales}}
            </lib-tags-chip>
        </div>
        <div class="col-auto">
            <lib-tags-chip key="Transforms">
                {{prime.transforms}}
            </lib-tags-chip>
        </div>
    </div>
    <p class="text-muted text-center mt-0 mb-20">
        Each Prime is uniquely represented by an Algorand standard asset and powered by an
        Algorand smart contract application.
    </p>
    <div class="info row justify-content-center mt-0 mb-0">
        <div class="col-auto">
            <lib-tags-chip key="Asset">
                <span innerHTML="{{prime.prime_asset_id | asset:true | async}}"></span>
            </lib-tags-chip>
        </div>
        <div class="col-auto">
            <lib-tags-chip key="Application">
                <span innerHTML="{{prime.application_id | application:true}}"></span>
            </lib-tags-chip>
        </div>
    </div>
    <div *ngIf="isOptinable" class="text-center mt-20 mb-0">
        <button *ngIf="!actions.optinPrime" class="btn btn-primary" (click)="optinPrime()">
            Optin to Asset
        </button>
        <button *ngIf="actions.optinPrime" class="btn btn-primary">
            <i class="fas fa-cog fa-spin mx-20"></i>
        </button>
    </div>
    <div *ngIf="isClaimable" class="text-center mt-20 mb-0">
        <button *ngIf="!actions.claimPrime" class="btn btn-primary" (click)="claimPrime()">
            Claim Ownership
        </button>
        <button *ngIf="actions.claimPrime" class="btn btn-primary">
            <i class="fas fa-cog fa-spin mx-20"></i>
        </button>
    </div>
    <div *ngIf="isUpgradable" class="text-center mt-20 mb-0">
        <button *ngIf="!actions.upgradePrime" class="btn btn-primary" (click)="upgradePrime()">
            Upgrade Version
        </button>
        <button *ngIf="actions.upgradePrime" class="btn btn-primary">
            <i class="fas fa-cog fa-spin mx-20"></i>
        </button>
    </div>
</div>