<div>
    <div class="info row justify-content-center mt-0 mb-20 py-20">
        <div *ngFor="let card of game.cards" class="col-auto">
            <div class="px-20 py-10 chip {{card.style}}">
                {{card.text}}
            </div>
        </div>
    </div>
    <div *ngIf="game.completed">
        <p class="description text-center text-muted mt-0 mb-20">
            Awesome job. You made {{game.hits}} correct guesses and earned {{game.rewards}} stars. Keep it up.
        </p>
        <div class="text-center mt-0 mb-20 py-10">
            <button class="btn btn-primary" (click)="endGame()">
                Collect Your Stars
            </button>
        </div>
    </div>
    <div *ngIf="!game.completed">
        <p class="description text-center text-muted mt-0 mb-20">
            On each turn, predict whether the next letter will be higher or lower than the current one in the alphabet.
            The more accurate your guesses, the more stars you will collect.
        </p>
        <div class="info row justify-content-center mt-0 mb-20 py-20">
            <div class="col-auto">
                <div class="px-20 py-10 chip bg-danger hand" (click)="checkAnswer(0)">
                    Lower
                </div>
            </div>
            <div class="col-auto">
                <div class="px-20 py-10 chip bg-primary hand" (click)="checkAnswer(1)">
                    Higher
                </div>
            </div>
        </div>
        <p class="description text-center text-muted mt-0 mb-20">
            Enhance your chances of success with these powerful boosts.
        </p>
        <div class="text-center mt-0 mb-20 py-10">
            <button class="btn btn-success m-5" (click)="applyBoost(1, game.boost_1)"
                [ngClass]="{'disabled': game.boost_1}">
                Add Two Extra Rolls - Costs 15 Stars
            </button>
            <button class="btn btn-success m-5" (click)="applyBoost(2, game.boost_2)"
                [ngClass]="{'disabled': game.boost_2}">
                Add Five Extra Rolls - Costs 25 Stars
            </button>
        </div>
        <p class="description text-center text-muted mt-20 mb-0">
            You have made {{game.hits}} correct guesses so far. You have the potential to earn up to {{game.max}}
            stars from this game.
        </p>
    </div>
</div>