<div class="card">
    <h2 class="card-title text-center text-secondary">
        FAMILY
    </h2>
    <div *ngIf="prime.gen == 1">
        <p class="text-muted text-center m-0">
            Each GEN1 Prime is a parent of eight GEN2 children.
        </p>
        <div class="info row justify-content-center my-20">
            <div class="col-auto" *ngFor="let child of children">
                <lib-tags-chip [active]="child.owner == prime.owner">
                    <div class="dropdown dropup with-arrow">
                        <div data-toggle="dropdown" id="popover-toggle" aria-haspopup="true" aria-expanded="false"
                            class="hand">
                            GEN{{child.gen}} Prime #{{child.id_text}}
                        </div>
                        <div class="dropdown-menu dropdown-menu-center" aria-labelledby="popover-toggle">
                            <div class="dropdown-item">
                                <lib-tags-prime-skins [prime]="child"></lib-tags-prime-skins>
                                <lib-tags-prime-boxes [prime]="child"></lib-tags-prime-boxes>
                                <lib-tags-prime-owner [prime]="child"></lib-tags-prime-owner>
                                <lib-tags-prime-info [prime]="child"></lib-tags-prime-info>
                                <button class="btn btn-primary btn-block mt-10 p-0" type="button">
                                    <a class="text-white d-block" href="{{child.url}}" target="_blank">
                                        View <i class="fas fa-external-link-alt ml-5"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </lib-tags-chip>
            </div>
        </div>
    </div>
    <div *ngIf="prime.gen == 2">
        <p class="text-muted text-center m-0">
            Each GEN2 Prime is a child of a GEN1 parent.
        </p>
        <div class="info row justify-content-center my-20">
            <div class="col-auto">
                <lib-tags-chip [active]="parent.owner == prime.owner">
                    <div class="dropdown dropup with-arrow">
                        <div data-toggle="dropdown" id="popover-toggle" aria-haspopup="true" aria-expanded="false"
                            class="hand">
                            GEN{{parent.gen}} Prime #{{parent.id_text}}
                        </div>
                        <div class="dropdown-menu dropdown-menu-center" aria-labelledby="popover-toggle">
                            <div class="dropdown-item">
                                <lib-tags-prime-skins [prime]="parent"></lib-tags-prime-skins>
                                <lib-tags-prime-boxes [prime]="parent"></lib-tags-prime-boxes>
                                <lib-tags-prime-owner [prime]="parent"></lib-tags-prime-owner>
                                <lib-tags-prime-info [prime]="parent"></lib-tags-prime-info>
                                <button class="btn btn-primary btn-block mt-10 p-0" type="button">
                                    <a class="text-white d-block" href="{{parent.url}}" target="_blank">
                                        View <i class="fas fa-external-link-alt ml-5"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </lib-tags-chip>
            </div>
        </div>
        <p class="text-muted text-center m-0">
            Each GEN2 Prime have seven other GEN2 siblings.
        </p>
        <div class="info row justify-content-center my-20">
            <div class="col-auto" *ngFor="let sibling of siblings">
                <lib-tags-chip [active]="sibling.owner == prime.owner">
                    <div class="dropdown dropup with-arrow">
                        <div data-toggle="dropdown" id="popover-toggle" aria-haspopup="true" aria-expanded="false"
                            class="hand">
                            GEN{{sibling.gen}} Prime #{{sibling.id_text}}
                        </div>
                        <div class="dropdown-menu dropdown-menu-center" aria-labelledby="popover-toggle">
                            <div class="dropdown-item">
                                <lib-tags-prime-skins [prime]="sibling"></lib-tags-prime-skins>
                                <lib-tags-prime-boxes [prime]="sibling"></lib-tags-prime-boxes>
                                <lib-tags-prime-owner [prime]="sibling"></lib-tags-prime-owner>
                                <lib-tags-prime-info [prime]="sibling"></lib-tags-prime-info>
                                <button class="btn btn-primary btn-block mt-10 p-0" type="button">
                                    <a class="text-white d-block" href="{{sibling.url}}" target="_blank">
                                        View <i class="fas fa-external-link-alt ml-5"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </lib-tags-chip>
            </div>
        </div>
    </div>
    <p class="text-muted text-center m-0">
        Collect all the Primes in family to receive the rare Family badge.
    </p>
</div>