<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col">
                <div class="mx-auto text-center">
                    <h1 class="content-title text-secondary mt-0 mb-20">
                        Launchpad
                    </h1>
                    <p class="text-muted mx-auto mw-600 mt-0 mb-20">
                        Launchpad empowers artists to release advanced Algorand NFT collections, leveraging the same
                        robust technology stack that underpins the Octorand ecosystem.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>