<div class="card">
    <h2 class="card-title text-center text-secondary mt-0 mb-20">
        HISTORY
    </h2>
    <p class="text-muted text-center mt-0 mb-20">
        Primes evolve through various stages throughout their existence.
    </p>
    <div class="info row justify-content-center mt-0 mb-0">
        <div class="column col-12">
            <div class="table-responsive">
                <table class="table table-no-outer-padding">
                    <thead>
                        <tr class="text-success">
                            <th>Date</th>
                            <th>Sender</th>
                            <th>Action</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let event of events">
                            <td>
                                <p class="mt-0 mb-0 text-wrap">
                                    {{event.timestamp * 1000 | date}}
                                </p>
                            </td>
                            <td>
                                <p class="mt-0 mb-0 text-wrap"
                                    [innerHtml]="event.params.sender | identity:false:true | async">
                                </p>
                            </td>
                            <td>
                                <p class="mt-0 mb-0 text-wrap">
                                    {{event.params.name.toUpperCase().replace('PRIME_', '')}}
                                </p>
                            </td>
                            <td>
                                <p *ngIf="event.params.name == 'prime_buy'" class="mt-0 mb-0 text-wrap"
                                    innerHtml="Bought for {{event.params.price | amount:0 | async}} from {{event.params.seller | identity:false:true | async}}">
                                </p>
                                <p *ngIf="event.params.name == 'prime_claim'" class="mt-0 mb-0 text-wrap"
                                    innerHtml="Claimed ownership">
                                </p>
                                <p *ngIf="event.params.name == 'prime_list'" class="mt-0 mb-0 text-wrap"
                                    innerHtml="Listed for sale for {{event.params.price | amount:0 | async}}">
                                </p>
                                <p *ngIf="event.params.name == 'prime_mint'" class="mt-0 mb-0 text-wrap"
                                    innerHtml="Collected rewards worth {{event.params.amount | amount:assetId | async}}">
                                </p>
                                <p *ngIf="event.params.name == 'prime_optin'" class="mt-0 mb-0 text-wrap"
                                    innerHtml="Opted in to asset {{event.params.asset_id | asset | async}}">
                                </p>
                                <p *ngIf="event.params.name == 'prime_optout'" class="mt-0 mb-0 text-wrap"
                                    innerHtml="Opted out from asset {{event.params.asset_id | asset | async}}">
                                </p>
                                <p *ngIf="event.params.name == 'prime_rename'" class="mt-0 mb-0 text-wrap"
                                    innerHtml="Renamed by spending {{event.params.price | amount:assetId | async}}">
                                </p>
                                <p *ngIf="event.params.name == 'prime_repaint'" class="mt-0 mb-0 text-wrap"
                                    innerHtml="Repainted by spending {{event.params.price | amount:assetId | async}}">
                                </p>
                                <p *ngIf="event.params.name == 'prime_unlist'" class="mt-0 mb-0 text-wrap"
                                    innerHtml="Unlisted from market">
                                </p>
                                <p *ngIf="event.params.name == 'prime_upgrade'" class="mt-0 mb-0 text-wrap"
                                    innerHtml="Upgraded version">
                                </p>
                                <p *ngIf="event.params.name == 'prime_withdraw'" class="mt-0 mb-0 text-wrap"
                                    innerHtml="Collected royalties worth {{event.params.amount | amount:0 | async}}">
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>