<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col">
                <div class="mx-auto text-center">
                    <h1 class="content-title text-secondary mt-0 mb-20">
                        Guide
                    </h1>
                    <p class="text-muted mx-auto mw-600 mt-0 mb-20">
                        Octorand is a virtual world where the sole inhabitants are called Primes. Features of Primes are
                        controlled by OCTO, the native currency of Octorand.
                    </p>
                    <h5 class="text-white mt-0 mb-20">
                        Primes
                    </h5>
                    <p class="text-muted mx-auto mw-600 mt-0 mb-20">
                        Each Prime is a Algorand NFT. They are uniquely represented by a Algorand ASA and a Algorand
                        Smart Contract. Primes come in two generations. There are 1000 first generation Primes who each
                        gave birth to 8 offspring leading to 8000 Primes in the second generation.
                    </p>
                </div>
            </div>
        </div>
    </div>