<div class="card">
    <h2 class="card-title text-center text-secondary">
        ARTWORK
    </h2>
    <p class="text-success text-center m-0">
        Appearance
    </p>
    <p class="text-muted text-center m-0">
        Primes can change their appearance by changing their theme and skin.
    </p>
    <div class="info my-20">
        <nav>
            <ul class="pagination text-center">
                <li class="page-item">
                    <div class="page-link">
                        <lib-tags-chip key="Theme">
                            {{prime.theme_text}}
                        </lib-tags-chip>
                    </div>
                </li>
                <li class="page-item">
                    <div class="page-link">
                        <lib-tags-chip key="Skin">
                            {{prime.skin_text}}
                        </lib-tags-chip>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <p class="text-muted text-center m-0">
        Owner of Prime asset can change the theme and skin.
    </p>
    <div *ngIf="isPrimeOwner">
        <div class="info mt-20">
            <nav>
                <ul class="pagination text-center">
                    <li class="page-item">
                        <div class="page-link">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-secondary px-15">Theme</span>
                                </div>
                                <input [(ngModel)]="inputs.theme" class="form-control w-100" type="number"
                                    placeholder="Theme">
                            </div>
                        </div>
                    </li>
                    <li class="page-item">
                        <div class="page-link">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-secondary px-15">Skin</span>
                                </div>
                                <input [(ngModel)]="inputs.skin" class="form-control w-100" type="number"
                                    placeholder="Skin">
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="text-center my-20">
                <button *ngIf="!actions.repaintPrime" class="btn btn-primary" (click)="repaintPrime()">
                    Update Appearance
                </button>
                <button *ngIf="actions.repaintPrime" class="btn btn-primary">
                    <i class="fas fa-cog fa-spin mx-20"></i>
                </button>
            </div>
        </div>
    </div>
</div>