.option {
    margin: 2px;
}

.name {
    width: 240px;
    margin: auto;
}

.letter {
    height: 30px;
    width: 30px;
    padding: 1px;
    margin: 0;
    font-size: 20px;
    line-height: 28px;
}

.action {
    height: 20px;
    width: 30px;
    padding: 1px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
}
