<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col">
                <div class="mx-auto text-center">
                    <h1 class="content-title text-secondary mt-0 mb-20">
                        Designer
                    </h1>
                    <p class="text-muted mx-auto mw-600 mt-0 mb-20">
                        Discover how the appearance of Primes is influenced by their name, theme, and skin. Explore
                        previews showcasing how these attributes shape the unique look and feel of each Prime.
                    </p>
                </div>
            </div>
        </div>
    </div>