<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col">
                <div class="mx-auto text-center">
                    <h1 class="content-title text-secondary mt-0 mb-20">
                        Designer
                    </h1>
                    <p class="text-muted mx-auto mw-600 mt-0 mb-20">
                        Discover how the appearance of Primes is influenced by their name, theme, and skin. Explore
                        previews showcasing how these attributes shape the unique look and feel of each Prime.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row justify-content-center">
                <div class="column col-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="card text-center">
                        <h2 class="card-title text-secondary">
                            Preview Prime
                        </h2>
                        <div class="mt-20 mb-40">
                            <lib-tags-prime-skins [prime]="previewPrime"></lib-tags-prime-skins>
                        </div>
                        <p class="text-muted mb-5">
                            Generation
                        </p>
                        <div class="info row justify-content-center mt-0 mb-0">
                            <div class="col-auto">
                                <button class="btn option" [ngClass]="{'btn-primary': selectedGen == 1}"
                                    (click)="changeGen(1)">
                                    GEN1
                                </button>
                            </div>
                            <div class="col-auto">
                                <button class="btn option" [ngClass]="{'btn-primary': selectedGen == 2}"
                                    (click)="changeGen(2)">
                                    GEN2
                                </button>
                            </div>
                        </div>
                        <p class="text-muted mb-5">
                            Theme
                        </p>
                        <div class="info row justify-content-center mt-0 mb-0">
                            <div class="col-auto" *ngFor="let theme of themes">
                                <button class="btn option" [ngClass]="{'btn-primary': theme.id == selectedTheme}"
                                    (click)="changeTheme(theme.id)">
                                    {{theme.name}}
                                </button>
                            </div>
                        </div>
                        <p class="text-muted mb-5">
                            Skin
                        </p>
                        <div class="info row justify-content-center mt-0 mb-0">
                            <div class="col-auto" *ngFor="let skin of skins">
                                <button class="btn option" [ngClass]="{'btn-primary': skin.id == selectedSkin}"
                                    (click)="changeSkin(skin.id)">
                                    {{skin.name}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>