<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col">
                <div class="mx-auto text-center">
                    <h1 class="content-title text-secondary mt-0 mb-20">
                        Designer
                    </h1>
                    <p class="text-muted mx-auto mw-600 mt-0 mb-20">
                        Discover how the appearance of Primes is influenced by their name, theme, and skin. Explore
                        previews showcasing how these attributes shape the unique look and feel of each Prime.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row justify-content-center">
                <div class="column col-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="card">
                        <h2 class="card-title text-center text-secondary">
                            Preview Prime
                        </h2>
                        <div class="mt-20 mb-20">
                            <lib-tags-prime-skins [prime]="previewPrime"></lib-tags-prime-skins>
                        </div>
                        <div class="info row justify-content-center mt-20 mb-20">
                            <div class="col-auto">
                                <div class="dropdown with-arrow select hand select-theme-dropdown">
                                    <input value="{{selectedThemeName}}" class="form-control" type="text"
                                        data-toggle="dropdown" id="popover-toggle" aria-haspopup="true"
                                        aria-expanded="false" readonly>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="popover-toggle">
                                        <div *ngFor="let theme of themes" class="dropdown-item py-0"
                                            (click)="selectTheme(theme)">
                                            {{theme.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="dropdown with-arrow select hand select-skin-dropdown">
                                    <input value="{{selectedSkinName}}" class="form-control" type="text"
                                        data-toggle="dropdown" id="popover-toggle" aria-haspopup="true"
                                        aria-expanded="false" readonly>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="popover-toggle">
                                        <div *ngFor="let skin of skins" class="dropdown-item py-0"
                                            (click)="selectSkin(skin)">
                                            {{skin.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>