<div class="container-fluid">
    <div class="content">
        <div class="row align-items-center">
            <div class="col">
                <div class="description mx-auto text-center">
                    <h1 class="content-title text-secondary mb-20">
                        Browse Primes
                    </h1>
                    <p class="text-muted mb-20">
                        Step into the enchanting world of Octorand, where Primes reign supreme as the sole inhabitants.
                        Initially, 1000 Primes graced this realm, but as time unfolded, each of these first generation
                        Primes gave birth to 8 offspring, leading to the emergence of 8000 Primes in the second
                        generation. Explore the wonders of Octorand, where the legacy of these mystical entities
                        unfolds.
                    </p>
                    <div class="cards mb-20">
                        <div class="card m-0 h-full">
                            <h2 class="content-title text-success">GEN1 Primes</h2>
                            <div class="table-responsive">
                                <table class="table table-no-outer-padding">
                                    <tbody>
                                        <tr>
                                            <td class="text-secondary">Generation</td>
                                            <td class="text-right">First</td>
                                        </tr>
                                        <tr>
                                            <td class="text-secondary">Toal Primes</td>
                                            <td class="text-right">{{view.gen1.total}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button class="btn btn-success btn-block mt-20" (click)="navigateToPage('browse/gen1')">
                                Browse GEN1 Primes
                            </button>
                        </div>
                        <div class="card m-0 h-full">
                            <h2 class="content-title text-primary">GEN2 Primes</h2>
                            <div class="table-responsive">
                                <table class="table table-no-outer-padding">
                                    <tbody>
                                        <tr>
                                            <td class="text-secondary">Generation</td>
                                            <td class="text-right">Second</td>
                                        </tr>
                                        <tr>
                                            <td class="text-secondary">Toal Primes</td>
                                            <td class="text-right">{{view.gen2.total}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button class="btn btn-primary btn-block mt-20" (click)="navigateToPage('browse/gen2')">
                                Browse GEN2 Primes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>