<div class="container-fluid">
    <div class="content">
        <div class="row align-items-center">
            <div class="col-sm">
                <h1 class="content-title text-secondary">
                    Browse
                </h1>
            </div>
            <div class="col-auto">
                <button class="btn mr-5" type="button" (click)="navigateToPage('')">
                    <i class="fas fa-arrow-left text-danger mr-5"></i>
                    Back
                </button>
            </div>
        </div>
        <div class="row">
            <p class="text-muted">

            </p>
        </div>
    </div>
    <div class="content">
        <div class="cards">
            <div class="card m-0 h-full" (click)="navigateToPage('browse/gen1')">
                <h2 class="content-title text-success">Gen One</h2>
            </div>
            <div class="card m-0 h-full" (click)="navigateToPage('browse/gen2')">
                <h2 class="content-title text-success">Gen Two</h2>
            </div>
        </div>
    </div>
</div>