<div class="container-fluid" *ngIf="game">
    <div class="content">
        <div class="row">
            <div class="col">
                <div class="mx-auto text-center">
                    <h1 class="content-title text-secondary mt-0 mb-20">
                        {{game.name}}
                    </h1>
                    <p class="text-muted mx-auto mw-600 mt-0 mb-20">
                        {{game.description}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="column col-12 col-md-12 col-lg-8 col-xl-6">
                <div *ngIf="status == 'loading'" class="card">
                    <div class="col py-20">
                        <lib-tags-loader></lib-tags-loader>
                    </div>
                </div>
                <div *ngIf="status == 'connecting'" class="card">
                    <h1 class="text-center text-danger">
                        <i class="{{game.icon}}"></i>
                    </h1>
                    <p class="description text-center text-muted">
                        Connect you wallet to start playing
                    </p>
                </div>
                <div *ngIf="status == 'authenticating'" class="card">
                    <h1 class="text-center text-danger">
                        <i class="{{game.icon}}"></i>
                    </h1>
                    <p class="description text-center text-muted mb-40">
                        Let's get this party started
                    </p>

                    <div class="text-center mb-20">
                        <button *ngIf="!actions.startGame" class="btn btn-primary" (click)="startGame()">
                            Start Game
                        </button>
                        <button *ngIf="actions.startGame" class="btn btn-primary">
                            <i class="fas fa-cog fa-spin mx-20"></i>
                        </button>
                    </div>
                </div>
                <div *ngIf="status == 'ready'">
                    <lib-tags-player [player]="player"></lib-tags-player>
                    <div class="text-center mt-20 mb-20">
                        <button class="btn btn-primary m-5" (click)="refreshPlayer()">
                            Purchase Hearts
                        </button>
                        <button class="btn btn-primary m-5" (click)="refreshPlayer()">
                            View Rankings
                        </button>
                    </div>
                    <div class="card">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>