<div class="card">
    <h2 class="card-title text-center text-secondary">
        FAMILY
    </h2>
    <div *ngIf="prime.gen == 1">
        <p class="text-secondary mb-20">
            Children
        </p>
        <p class="text-muted mb-20">
            Each GEN1 Prime is a parent of eight GEN2 children.
        </p>
        <div class="info">
            <nav>
                <ul class="pagination">
                    <li class="page-item dropdown dropup with-arrow" *ngFor="let child of children">
                        <div data-toggle="dropdown" id="popover-toggle" aria-haspopup="true" aria-expanded="false"
                            class="page-link hand px-20"
                            [ngClass]="{'bg-primary text-white': child.owner == prime.owner, 'bg-dark-light text-muted': child.owner != prime.owner}">
                            GEN{{child.gen}} Prime #{{child.id_text}}
                        </div>
                        <div class="dropdown-menu dropdown-menu-center" aria-labelledby="popover-toggle">
                            <div class="dropdown-item">
                                GEN{{child.gen}} Prime #{{child.id_text}}
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div *ngIf="prime.gen == 2">
        <p class="text-secondary mb-20">
            Parent
        </p>
        <p class="text-muted mb-20">
            Each GEN2 Prime is a child of a GEN1 parent.
        </p>
        <div class="info">
            <nav>
                <ul class="pagination">
                    <li class="page-item dropdown dropup with-arrow">
                        <div data-toggle="dropdown" id="popover-toggle" aria-haspopup="true" aria-expanded="false"
                            class="page-link hand px-20"
                            [ngClass]="{'bg-primary text-white': parent.owner == prime.owner, 'bg-dark-light text-muted': parent.owner != prime.owner}">
                            GEN{{parent.gen}} Prime #{{parent.id_text}}
                        </div>
                        <div class="dropdown-menu dropdown-menu-center" aria-labelledby="popover-toggle">
                            <div class="dropdown-item">
                                GEN{{parent.gen}} Prime #{{parent.id_text}}
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <p class="text-secondary mb-20">
            Siblings
        </p>
        <p class="text-muted mb-20">
            Each GEN2 Prime have eight GEN2 siblings.
        </p>
        <div class="info">
            <nav>
                <ul class="pagination">
                    <li class="page-item dropdown dropup with-arrow" *ngFor="let sibling of siblings">
                        <div data-toggle="dropdown" id="popover-toggle" aria-haspopup="true" aria-expanded="false"
                            class="page-link hand px-20"
                            [ngClass]="{'bg-primary text-white': sibling.owner == prime.owner, 'bg-dark-light text-muted': sibling.owner != prime.owner}">
                            GEN{{sibling.gen}} Prime #{{sibling.id_text}}
                        </div>
                        <div class="dropdown-menu dropdown-menu-center" aria-labelledby="popover-toggle">
                            <div class="dropdown-item">
                                GEN{{sibling.gen}} Prime #{{sibling.id_text}}
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>