<div class="container-fluid">
    <div class="content">
        <div class="row align-items-center">
            <div class="col">
                <div class="description mx-auto text-center">
                    <img class="d-block mx-auto my-20" height="128" width="128" src="/assets/img/logo/logo.svg">
                    <h1 class="content-title text-secondary font-size-24 my-20">
                        OCTORAND
                    </h1>
                    <p class="text-muted my-20">
                        Step into the enchanting world of Octorand, where Primes reign supreme as the sole inhabitants.
                        Initially, 1000 Primes graced this realm, but as time unfolded, each of these first generation
                        Primes gave birth to 8 offspring, leading to the emergence of 8000 Primes in the second
                        generation. Explore the wonders of Octorand, where the legacy of these mystical entities
                        unfolds.
                    </p>
                    <button class="btn btn-success mt-10" (click)="navigateToPage('browse')">
                        Browse Primes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>