<div class="container-fluid">
    <div class="content">
        <div class="row align-items-center">
            <div class="col">
                <div class="description mx-auto text-center">
                    <img class="d-block mx-auto my-20" height="128" width="128" src="/assets/img/logo/logo.svg">
                    <h1 class="content-title text-secondary font-size-24 my-20">
                        OCTORAND
                    </h1>
                    <h2 class="content-title text-success font-size-18 my-20">
                        collect - transform - trade
                    </h2>
                    <p class="text-muted my-20">
                        Octorand is a virtual world of opportunity built on top of the Algorand blockchain. Octo Primes
                        are the only form of life existing in the world of Octorand. You can collect these Octo Primes,
                        transform them to increase their value and trade them through the inbuilt marketplace.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>