<div class="page-wrapper with-navbar with-navbar-fixed-bottom with-sidebar">
    <div class="sticky-alerts"></div>
    <nav class="navbar">
        <div class="navbar-content">
            <button class="btn btn-action" type="button" (click)="toggleSidebar()">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <a class="navbar-brand ml-10 hand" (click)="navigateToPage('')">
            <img src="/assets/img/logo/logo.svg">
            <span>OCTORAND</span>
        </a>
        <div class="navbar-content ml-auto">
            <div *ngIf="app.address && !isMobile" class="mr-5">
                <button class="btn text-success" type="button">
                    <span innerHTML="{{coreAssetBalance | amount:0 | async}}"></span>
                </button>
            </div>
            <div *ngIf="app.address && !isMobile" class="mr-5">
                <button class="btn text-success" type="button">
                    <span innerHTML="{{platformAssetBalance | amount:platformAssetId | async}}"></span>
                </button>
            </div>
            <div *ngIf="app" class="dropdown with-arrow connect-dropdown">
                <button class="btn btn-secondary" data-toggle="dropdown" type="button" id="connect-dropdown"
                    aria-haspopup="true" aria-expanded="false" [ngClass]="{'btn-action': isMobile}">
                    <i class="fas fa-user"></i>
                    <span *ngIf="!isMobile && app.address" class="ml-5">
                        {{app.address | identity: false:false | async}}
                    </span>
                    <span *ngIf="!isMobile && !app.address" class="ml-5">Connect</span>
                </button>
                <div *ngIf="app.address" class="dropdown-menu dropdown-menu-right" aria-labelledby="connect-dropdown">
                    <a *ngFor="let account of app.accounts" class="dropdown-item hand"
                        (click)="selectAddress(account.address)">
                        <i class="fas fa-circle mr-5" [ngClass]="{'text-primary': app.address == account.address}"></i>
                        <span [ngClass]="{'text-primary': app.address == account.address}">
                            {{account.address | identity: false:false | async}}
                        </span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item hand" (click)="disconnectAccount()">
                        <i class="fas fa-circle mr-5 text-danger"></i>
                        <span class="text-danger">Disconnect</span>
                    </a>
                </div>
                <div *ngIf="!app.address" class="dropdown-menu dropdown-menu-right" aria-labelledby="connect-dropdown">
                    <a *ngFor="let wallet of wallets" class="dropdown-item hand" (click)="selectWallet(wallet)">
                        <i class="fas fa-circle mr-5" [ngStyle]="{'color': wallet.color}"></i>
                        <span>{{wallet.name}}</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="sidebar-overlay" (click)="toggleSidebar()"></div>
    <div class="sidebar">
        <div class="sidebar-menu">
            <div *ngFor="let section of sidebar">
                <h5 class="sidebar-title hand">{{section.name}}</h5>
                <div class="sidebar-divider"></div>
                <a *ngFor="let item of section.items" class="sidebar-link sidebar-link-with-icon hand"
                    (click)="navigateToPage(item.route)">
                    <span class="sidebar-icon">
                        <i class="{{item.icon}}" [ngStyle]="{'color': item.color}"></i>
                    </span>
                    {{item.name}}
                </a>
                <br>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <router-outlet></router-outlet>
    </div>
    <nav class="navbar navbar-fixed-bottom">
        <div class="navbar-content">
            <button class="btn btn-action" type="button" (click)="toggleSidebar()">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="navbar-content">
            <p class="text-muted m-0">
                Version {{version}}
            </p>
        </div>
    </nav>
</div>