<div class="container-fluid">
    <div class="content">
        <div *ngIf="ready">
            <lib-tags-collection [collection]="collection" [selectedOption]="'Market'">
            </lib-tags-collection>
            <div class="row">
                <div class="col">
                    <div class="mx-auto text-center">
                        <p class="text-muted mb-5">
                            Sort
                        </p>
                        <div class="info row justify-content-center mt-0 mb-0">
                            <div class="col-auto" *ngFor="let sort of sorts">
                                <button class="btn option" [ngClass]="{'btn-primary': sort == selectedSort}"
                                    (click)="changeSort(sort)">
                                    {{sort}}
                                </button>
                            </div>
                        </div>
                        <p class="text-muted mb-5">
                            Traits
                        </p>
                        <div class="info row justify-content-center mt-0 mb-0">
                            <div class="col-auto" *ngFor="let param of collection.params; let i = index">
                                <div class="dropdown with-arrow select-param-dropdown-{{i}}">
                                    <button class="btn option" data-toggle="dropdown" type="button" id="dropdown-param"
                                        aria-haspopup="true" aria-expanded="false">
                                        {{param.name}}
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdown-param">
                                        <div *ngFor="let value of param.values" class="dropdown-item hand"
                                            (click)="selectParamValue(i, param, value)">
                                            {{value}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngFor="let param of selectedParamValues"
                            class="info row justify-content-center mt-0 mb-0">
                            <div class="col-auto" *ngFor="let value of param.values">
                                <button class="btn btn-primary option" (click)="deselectParamValue(param, value)">
                                    {{param.name}} : {{value}}
                                    <i class="fas fa-times ml-5"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div *ngIf="currentPageResults.length > 0">
                        <div class="my-20">
                            <lib-tags-pager [totalPages]="pagesCount" [currentPage]="currentPage"
                                (onPageChange)="changePage($event)">
                            </lib-tags-pager>
                        </div>
                        <div class="row justify-content-center">
                            <div class="column col-12 col-md-6 col-lg-4 col-xl-3"
                                *ngFor="let item of currentPageResults">
                                <div class="card">
                                    <h2 class="card-title text-center text-secondary">
                                        {{item.name}}
                                    </h2>
                                    <lib-tags-item-image [item]="item"></lib-tags-item-image>
                                    <lib-tags-item-owner [item]="item"></lib-tags-item-owner>
                                    <lib-tags-item-info [item]="item"></lib-tags-item-info>
                                    <div class="btn-group mt-20 btn-block" role="group">
                                        <button class="btn btn-primary btn-block" type="button"
                                            (click)="navigateToPage(item.url)">
                                            View
                                        </button>
                                        <button class="btn btn-primary btn-square" type="button">
                                            <a class="text-white" href="{{item.url}}" target="_blank">
                                                <i class="fas fa-external-link-alt"></i>
                                            </a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-20">
                            <lib-tags-pager [totalPages]="pagesCount" [currentPage]="currentPage"
                                (onPageChange)="changePage($event)">
                            </lib-tags-pager>
                        </div>
                    </div>
                    <div *ngIf="currentPageResults.length == 0" class="mw-600 mx-auto text-center">
                        <div class="text-muted mt-60 mb-60">
                            There aren't any items available in the market that matches your selection criteria
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!ready">
            <div class="row">
                <div class="col py-20">
                    <lib-tags-loader></lib-tags-loader>
                </div>
            </div>
        </div>
    </div>
</div>