.section {
    padding: 40px 0;
}

.animate {
    animation: blink 2s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
