<div class="card">
    <h2 class="card-title text-center text-secondary">
        RESOURCES
    </h2>
    <p class="text-muted mb-20">
        Each Prime is uniquely represented by an Algorand standard asset and powered by an
        Algorand smart contract application.
    </p>
    <div class="info">
        <div class="table-responsive">
            <table class="table table-no-outer-padding">
                <tbody>
                    <tr>
                        <td class="text-secondary">Asset</td>
                        <td class="text-right" innerHTML="{{prime.prime_asset_id | asset:true | async}}">
                            {{prime.prime_asset_id}}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-secondary">Application</td>
                        <td class="text-right" innerHTML="{{prime.application_id | application:true}}">
                            {{prime.application_id}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="isConnected && !isOptedIn" class="mt-20">
        <button *ngIf="!actions.optinToAsset" class="btn btn-danger btn-block" (click)="optinToAsset()">
            Optin to Asset
        </button>
        <button *ngIf="actions.optinToAsset" class="btn btn-danger btn-block">
            <i class="fas fa-cog fa-spin mx-20"></i>
        </button>
    </div>
</div>