<div class="card">
    <h2 class="card-title text-center text-secondary mt-0 mb-20">
        TRAITS
    </h2>
    <div class="info row justify-content-center mt-0 mb-0">
        <div class="col-auto" *ngFor="let badge of badges">
            <lib-tags-chip>
                <div class="dropdown dropup with-arrow">
                    <div data-toggle="dropdown" id="popover-toggle" aria-haspopup="true" aria-expanded="false"
                        class="hand">
                        <i class="{{badge.icon}} mr-5"></i>
                        {{badge.param}} : {{badge.value}}
                    </div>
                    <div class="dropdown-menu dropdown-menu-center" aria-labelledby="popover-toggle">
                        <div class="dropdown-item">
                            <i class="fas fa-random mr-10"></i>
                            {{badge.count}}x ({{badge.percentage}}%)
                        </div>
                    </div>
                </div>
            </lib-tags-chip>
        </div>
    </div>
</div>