<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col">
                <div class="mx-auto text-center">
                    <h1 class="content-title text-secondary mt-0 mb-20">
                        Upgrade
                    </h1>
                    <p class="text-muted mx-auto mw-600 mt-0 mb-20">
                        Primes earn badges by meeting specific qualifications. Some badges, like Founder, are inherent
                        from birth. Others, like Chameleon, are earned as Primes undergo transformations. Additionally,
                        badges such as Wordsmith are awarded when Primes change their names.
                    </p>
                </div>
            </div>
        </div>
    </div>