<div class="container-fluid">
    <div class="content">
        <div class="row align-items-center">
            <div class="col-sm">
                <h1 class="content-title">
                    Browse One
                </h1>
            </div>
            <div class="col-auto">
                <button class="btn mr-5" type="button" (click)="navigateToPage('browse')">
                    <i class="fas fa-arrow-left text-danger mr-5"></i>
                    Back
                </button>
                <button class="btn" type="button" (click)="loadPrimeDetails()">
                    <i class="fas fa-cog text-danger mr-5" [ngClass]="{'fa-spin': loading}"></i>
                    Refresh
                </button>
            </div>
        </div>
    </div>
    <div class="row row-eq-spacing-xl">
        <div class="col-xl-4" *ngFor="let prime of primes" (click)="navigateToPage('prime/gen1/{{prime.id}}')">
            <div class="card h-full">
                <div class="row hand">
                    <div class="col-sm">
                        <h2 class="content-title text-success">{{prime.id}}</h2>
                        <p class="text-muted mb-0">
                            {{prime.name}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>