:root {
    font-family: "Roboto", sans-serif;

    --button-height: 3.6rem;
    --button-padding: 0 2rem;
    --input-height: 3.6rem;
    --input-padding: 0 2rem;
    --card-title-font-size: 1.6rem;
    --card-title-font-weight: 500;
    --pagination-item-margin: 2px;
    --pagination-item-padding: 0px;
    --dm-table-border-color: #25282c;

    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
    }

    router-outlet + * {
        display: block;
        animation: fade 1s;
    }

    .hand {
        cursor: pointer;
    }

    .column {
        padding: 2px;
        min-width: 280px;
    }

    .card {
        margin: 0;
        height: 100%;
    }

    .message {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        max-width: 800px;
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
