:root {
    font-family: "Roboto", sans-serif;

    --button-height: 3.6rem;
    --button-padding: 0 2rem;
    --input-height: 3.6rem;
    --input-padding: 0 2rem;
    --dm-table-border-color: var(--dm-horizontal-rule-color);

    .table {
        border-top: var(--table-border-width) solid var(--dm-table-border-color);
        border-bottom: var(--table-border-width) solid var(--dm-table-border-color);
    }
}

.hand {
    cursor: pointer;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 4px;
}

.description {
    max-width: 800px;
}
