<div class="container-fluid">
    <div class="content" *ngIf="ready">
        <div class="row align-items-center">
            <div class="col">
                <div class="mx-auto text-center">
                    <h1 class="content-title text-secondary mb-20">
                        GEN{{prime.gen}} Prime #{{prime.id_text}}
                    </h1>
                    <lib-tags-prime-skins [prime]="prime"></lib-tags-prime-skins>
                    <lib-tags-prime-boxes [prime]="prime"></lib-tags-prime-boxes>
                    <lib-tags-prime-owner [prime]="prime"></lib-tags-prime-owner>
                </div>
            </div>
        </div>
    </div>
</div>