<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col">
                <div class="mx-auto text-center">
                    <h1 class="content-title text-secondary mt-0 mb-20">
                        Questora
                    </h1>
                    <p class="text-muted mx-auto mw-600 mt-0 mb-20">
                        Grand adventure for Primes with a hundred-fold challenge
                    </p>
                    <p class="text-secondary mx-auto mw-600 mt-40 mb-40">
                        Coming Soon
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>