<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col">
                <div class="mx-auto text-center">
                    <h1 class="content-title text-secondary mb-20">
                        Tokenomics
                    </h1>
                    <p class="text-muted mb-5 mx-auto mw-600">
                        OCTO token, the native currency of Octorand platform comes with interesting deflationary
                        dynamics. It is a multi purpose utility token with many use cases across the entire Octorand
                        ecosystem.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-20" *ngIf="ready">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="column col-12 col-lg-6">
                        <div class="card">
                            <h2 class="card-title text-center text-secondary">
                                SUMMARY
                            </h2>
                            <p class="text-muted text-center m-0">
                                Each Prime started with a OCTO token rewards bundle burried inside them. Full supply of
                                OCTO token was distributed among the Prime holders in this manner.
                            </p>
                            <div class="info my-20">
                                <nav>
                                    <ul class="pagination text-center">
                                        <li class="page-item">
                                            <div class="page-link">
                                                <lib-tags-chip key="Asset Id">
                                                    {{assetId}}
                                                </lib-tags-chip>
                                            </div>
                                        </li>
                                        <li class="page-item">
                                            <div class="page-link">
                                                <lib-tags-chip key="Asset Unit">
                                                    {{assetUnit}}
                                                </lib-tags-chip>
                                            </div>
                                        </li>
                                        <li class="page-item">
                                            <div class="page-link">
                                                <lib-tags-chip key="Asset Decimals">
                                                    {{assetDecimals}}
                                                </lib-tags-chip>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- <p class="text-success text-center m-0">
                                Resources
                            </p>
                            <p class="text-muted text-center m-0">
                                Each Prime is uniquely represented by an Algorand standard asset and powered by an
                                Algorand smart contract application.
                            </p>
                            <div class="info mt-20">
                                <nav>
                                    <ul class="pagination text-center">
                                        <li class="page-item">
                                            <div class="page-link">
                                                <lib-tags-chip key="Asset">
                                                    <span
                                                        innerHTML="{{prime.prime_asset_id | asset:true | async}}"></span>
                                                </lib-tags-chip>
                                            </div>
                                        </li>
                                        <li class="page-item">
                                            <div class="page-link">
                                                <lib-tags-chip key="App">
                                                    <span
                                                        innerHTML="{{prime.application_id | application:true}}"></span>
                                                </lib-tags-chip>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div *ngIf="isOptinable" class="text-center mt-20">
                                <button *ngIf="!actions.optinPrime" class="btn btn-primary" (click)="optinPrime()">
                                    Optin to Asset
                                </button>
                                <button *ngIf="actions.optinPrime" class="btn btn-primary">
                                    <i class="fas fa-cog fa-spin mx-20"></i>
                                </button>
                            </div>
                            <div *ngIf="isClaimable" class="text-center mt-20">
                                <button *ngIf="!actions.claimPrime" class="btn btn-primary" (click)="claimPrime()">
                                    Claim Ownership
                                </button>
                                <button *ngIf="actions.claimPrime" class="btn btn-primary">
                                    <i class="fas fa-cog fa-spin mx-20"></i>
                                </button>
                            </div>
                            <div *ngIf="isUpgradable" class="text-center mt-20">
                                <button *ngIf="!actions.upgradePrime" class="btn btn-primary" (click)="upgradePrime()">
                                    Upgrade Version
                                </button>
                                <button *ngIf="actions.upgradePrime" class="btn btn-primary">
                                    <i class="fas fa-cog fa-spin mx-20"></i>
                                </button>
                            </div> -->
                        </div>
                    </div>
                    <div class="column col-12 col-lg-6">
                        <div class="card">
                            <h2 class="card-title text-center text-secondary">
                                SUPPLY
                            </h2>
                            <p class="text-muted text-center m-0">
                                The OCTO supply is finite and hyper-deflationary. Supply is burned each time users do
                                things like transform their Primes, upgrade their artwork, etc.
                            </p>
                            <div class="info my-20">
                                <nav>
                                    <ul class="pagination text-center">
                                        <li class="page-item">
                                            <div class="page-link">
                                                <lib-tags-chip key="Total Supply">
                                                    <span innerHTML="{{totalSupply | amount:assetId | async}}"></span>
                                                </lib-tags-chip>
                                            </div>
                                        </li>
                                        <li class="page-item">
                                            <div class="page-link">
                                                <lib-tags-chip key="Burnt Supply">
                                                    <span innerHTML="{{burntSupply | amount:assetId | async}}"></span>
                                                </lib-tags-chip>
                                            </div>
                                        </li>
                                        <li class="page-item">
                                            <div class="page-link">
                                                <lib-tags-chip key="Remaining Supply">
                                                    <span innerHTML="{{remainingSupply | amount:assetId | async}}">
                                                    </span>
                                                </lib-tags-chip>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>